---
import { ArrowUpRight } from 'lucide-astro';

interface Props {
  i18nKey: string;
  slug: string;
  title: string;
  description: string;
  summary: string;
  details: string;
  metric: string;
  tags: string[];
  url?: string;
}

const { i18nKey, slug, title, description, tags } = Astro.props;
const detailUrl = `/projects/${slug}`;
---

<div class="flex flex-col md:flex-row md:items-start justify-between gap-6 py-6">
  <div class="flex flex-col gap-3 max-w-xl">
    <h3 class="text-3xl md:text-4xl">
      <a href={detailUrl} class="hover:underline" data-i18n={`${i18nKey}.title`}>{title}</a>
    </h3>
    <p class="text-sm text-gray-500" data-i18n={`${i18nKey}.description`}>{description}</p>
    <a href={detailUrl} class="border-b border-black uppercase text-xs self-start flex items-center gap-1 mt-2">
      <span data-i18n="project.view-more">View More</span> <ArrowUpRight class="w-2 h-2" />
    </a>
  </div>
  <div class="flex gap-2 flex-wrap md:justify-end md:max-w-xs">
    {tags.map((tag, index) => (
      <span class={`rounded-full px-4 py-1 text-xs whitespace-nowrap ${index % 2 === 0 ? 'border border-black' : 'bg-black text-white'}`}>{tag}</span>
    ))}
  </div>
</div>
